.detail-wrapper{
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top:-18%;
    width: 100%;
    height: 70%;
    
    
}
.detail-container{
    display: flex;
    flex-direction: column;
    margin-left:10rem;
    margin-top:-10%;
}
.detail-img{
    width:35rem;
    height:35rem;
    margin-top:4rem;
    padding-right:12px;
}
.detail-title{
    font-size: 3.5rem;
    font-weight: 600;
    margin-bottom: 1rem;
    color: #212529;
}
.detail-desc{
    font-size: 1.5rem;
    font-weight: 350;
    margin-bottom: 1rem;
    margin-right:9rem;
    color: #212529;
}
.detail-price{
    font-size: 2rem;
    font-weight: 600;
    margin-bottom: 1rem;
    color: #212529;
}
.detail-count-wrapper{
    display: flex;
    flex-direction: row;
    margin-top: 1rem;
    gap:2rem;
}
.btn-wrapper{
    display: flex;
    flex-direction: row;
    gap: 1rem;
    align-items: center;
    justify-content: center;
    margin-top: 2.2rem;
    padding:6px 5px;
    width:6rem; 
    border: 1px solid rgb(199, 145, 145);
    height:2rem;
    border-radius: 54px;
}
button{
    font-size:1rem;   
   border-radius: 50%;
    color: #212529;
    border: none;
    background-color:white;
    cursor: pointer;
    
}
.detail-add{
    font-size:1rem;   
    border-radius: 10px;
    color: white;
    font-weight: 250;
    border: none;
    background-color:red;
    cursor: pointer;
    width:6rem;
    height:2rem;
    display:flex;
    justify-content: center;
    align-items: center;
    margin-top:1rem;
}