.menu-header {
    display: flex;
    margin-top: 20px;
    background-color: rgb(255, 255, 255);
    justify-content: center;
}
.menu-wrapper {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    margin-top: -220px;
}
.item-wrapper {
    display: grid;
    grid-template: auto auto/repeat(3, 1fr);
}
.item-ul {
    list-style-type: none;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 15px;
    margin-left: -28px;
    text-decoration: none;
}
li {
    margin-top: 50px;
    margin: 40px;
    color: rgb(128, 3, 3);
    font-size: 20px;
    font-weight: thick;
    gap: 15px;
}
a {
    text-decoration: none;
    color: black;
}

.active {
    color: red;
    text-decoration: none;
    font-weight: bold;
    transition-duration: 0.2s;
    transition-delay: 0.2s;
}

.checkout-btn-wrapper {
    display: flex;
    align-items: center;
    justify-content: center;
}
.checkout-btn {
    color: rgb(255, 255, 255);
    background-color: red;
    border: none;
    border-radius: 15px;
    width: 130px;
    height: 40px;
    font-weight: bold;
    font-size: 15px;
    margin-top: 15px;
    position: absolute;
    top: 177%;
    left: 46.9%;
    cursor: pointer;
}
.item-count {
    color: rgb(255, 0, 0);
    font-weight: bold;
    position: relative;
    top: -1420px;
    right: 14.6%;
    float: right;
}
.menu-item {
    display: flex;
    flex-direction: row;
    width: 20%;
    height: 20%;
    margin: 10px;
    border-radius: 10px;
    box-shadow: 10px 10px 20px rgba(129, 27, 27, 0);
    background-color: yellow;
    color: red;
}
.menu-grid {
    display: grid;
    grid-template: auto auto/repeat(3, 1fr);
    gap: 150px;
    padding: 20px;
    margin: 5px;
    margin-left: -5px;
    width: 75%;
    height: 100%;
}
.checkout-menu {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 2rem;
    padding: 10px;
    margin-bottom: 1.7rem;
}
.checkout-menubtn {
    font-size: 16px;
    border-radius: 15px;
    border: none;
    padding: 10px 13px;
    background-color: rgb(255, 0, 0);
    color: rgb(255, 255, 255);
}
.notcheckout-menubtn {
    font-size: 16px;
    border-radius: 15px;
    border: none;
    padding: 10px 13px;
    background-color: grey;
    color: white;
}
