
 .item-wrapper {
  
  
  display: inline-block;
  margin-left: 14.7%;
  margin-top: -10px;
  justify-content:center;
  text-align: center;
}
 .item-container{
  cursor: pointer;
  padding-top: 10px;
  margin-bottom: 10px;
  margin-left: 50px;   
  
  transition: 0.2s;
  border-radius:50px;
  width: 150px;
  
  
 }
 .item-container:hover{
  box-shadow: 0 1px 5px 0 rgba(133, 123, 123, 0.2);
 }
 .item-container img{
   
   width: 110px;
   padding: 5px;
   margin-top:10px
 }
 .item-details{
  padding: 2px 10px;
  }
  .item-details h6{
    font-size: small;
  }