.main-header {
    box-sizing: border-box;
    
}


.top-logo{
    background-color:black;
    padding:5px;
}

.logo-title {
    width: 152px;
    margin-left: auto;
}
button {
   float: right;
    transform: translate(-1%, 5%);
}
.login-btns{
    color:white !important;
}
.login-btn {
   position: relative;
   top:-60px;
   right: 137px;
   float: right;
   border: none;
    font-weight: bold;
    font-size: 18px;
    color: white;
    cursor: pointer;
}
.signup-btn {
    font-size: 18px;
    cursor: pointer;
    font-weight: bold;
    padding: 5px 20px;
    margin: 5px 5px;
    border-radius: 15px;
    border: none;
    background-color: rgb(255, 0, 0);
    color: rgb(255, 255, 255);
}
.font-cart {
    color: rgb(255, 255, 255);
    float: right;
    font-size: 20px;
    transform: translate(-500%, 65%);
}
