.dinner-btn {
  color: rgb(255, 255, 255);
  background-color: red;
  border: none;
  border-radius: 15px;
  width: 130px;
  height: 40px;
  font-weight: bold;
  font-size: 15px;
  margin: 0 auto;
  position: absolute;
  top: 177%;
  left: 46.5%;
  margin-top: 15px;
  cursor: pointer;
}
li {
    list-style: none;
    text-decoration: none;
    margin-top: 50px;
    margin: 40px;
    color: rgb(0, 0, 0);
    font-size: 20px;
    font-weight: thick;
    gap:15px;
}


.active {
    color: red;
    text-decoration: none;
    font-weight: bold;
    transition-duration: 0.2s;
    transition-delay: 0.2s;
}
