.footer {
  display:flex;
  margin-top: 60px;
  padding-top: 15px;
  width: 100%;
  font-size:1.1rem;
  background-color: black;
  color: white;
  align-items: center;
  font-weight: 200;
  justify-content: center;
}
