.login-wrapper {
    background-color: rgb(253, 242, 228);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.login-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.login-logo {
    width: 20rem;
    height: 5rem;
    position: relative;
    top: -35rem;
}
.login-banner {
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    width: 95rem;
    height: 39.5rem;
}
.main-form {
    position: relative;
    top: -28rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 1.2rem;
}
input {
    width: 22rem;
    height: 2.2rem;
    border-radius: 0.5rem;
    border: none;
    background-color: white;
    padding-left: 1rem;
    
}
input:focus {
    border-style: solid;
    border-color: rgb(227, 182, 182);
    outline: none;
}
.login-butn {
    background-color: rgb(255, 0, 0);
    color: white;
    font-size: 13px;
    font-weight: bold;
    display: flex;
    justify-content:center;
    align-items: center;
    border: none;
    width: 14rem;
    height: 1.9rem;
    text-align: center;
    padding: 10px 0px;
    border-radius: 5px;
    cursor: pointer;
}
