.banner-header{
  display: flex;
  position: relative;
}
.banner-image{
width: 100% ;
background-color: rgb(253, 242, 228);
margin-left:auto;
height: 100%;

}
.banner-text{
  position: absolute;
  top: 29%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 40px;
  color:black;
}
.banner-input{
  
  width:400px;
  padding:10px;
  margin-left:130px;
  border: none;
  border-radius:15px;
  outline: none;
  
}
.banner-search{
border:none;
padding:10px;
border-radius:15px;
font-weight: bold;
background-color:red;
color: white;
width: 100px;
cursor: pointer;
}