.banner-header{
  position: relative;
  top:-59px;
  
}
.banner-image{
width: 100%;
margin-top:-58px;
background-color: rgb(253, 242, 228);
height: 60vh;

}
.banner-text{
  display:flex;
  transform: translate(-1%, -165%); 
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-size: 40px;
  color:black;
}
.banner-input{
  display:flex;
  
  padding:12px;
  border: none;
  width:25rem;
  border-radius:15px;
  font-size: 15px;
  
  
}
.banner-search{
margin-top:15px;
border:none;
padding:10px;
border-radius:12px;
font-weight: bold;
background-color:red;
color: white;
width: 100px;
cursor: pointer;
}